body{
	background-color: slategrey;
	background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/IMG_426668.jpg), url(3.jpg) no-repeat;
	background-size: cover;
}

.clock{
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	height: 650px;
	background-size: cover;
	background: rgba(0,0,0,0.3);
}

.clock > section{
	width: 50%;
	padding: 10px;
	margin-left: 50px;
}

.digital-clock, .date{
	text-align: center;
	font-size: 45px;
	color: white;
	text-transform: uppercase;
	text-shadow: 2px 2px #9ac4dc;
}

#analog-clock{
	/*border: 4px solid #9ac4dc;*/
	/*background: #fff;*/
}